<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>{{ page.title }}</title>
    <meta name="author" content="Matt Harasymczuk">
    <meta name="description" content="{{ page.description }}">

    <link rel="cannonical" href="http://astromatt.space">
    <link rel="stylesheet" href="/css/abstract.css">
    <link rel="icon" type="image/png" href="img/astronaut-pin.png" />
</head>
<body>
    <section id="title"></section>
    <ul id="authors"></ul>

    <section id="content">
        {{ content }}
    </section>
</body>
<script src="/js/abstract.js"></script>
<html>
